<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load static %}  <!-- Load the static files template tag -->
    <link rel="stylesheet" type="text/css" href="{% static 'emotion_recognition/styles.css' %}">
</head>
<body>
    <div class="container">
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <h2>User Login</h2>
            <div>
                <label for="username">Username:</label>
                <input type="text" name="username" required>
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" name="password" required>
            </div>
            <input type="submit" value="Login">
            <a href="{% url 'register' %}">Don't have an account? Register here</a>
        </form>
    </div>
</body>
</html>